@charset "utf-8";
/* CSS Document */


.price-table-main {
  margin: 20px 0;
  padding: 30px 0;
  text-align: center;
}

.price-table-main .price-table-columns {
  display: inline-block;
  margin: 20px 10px;
  min-width: 150px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  width: 180px;
}


.price-table-main ul {
  margin: 0 !important ;
  padding: 0 ;
}
.price-table-main li {
  margin: 0 !important ;
  padding: 0 ;
}

.price-table-main .price-table-clear {
  clear: both;
}

.price-table-main .price-table-items {
  list-style: outside none none;
  padding: 4px 0;
}

.price-table-main .price-table-items.ribbons {
  background: none repeat scroll 0 0 rgb(60, 176, 117);
  padding: 10px 0;
  position: relative;
}

.price-table-main .price-table-items.header {
  background: none repeat scroll 0 0 rgb(60, 176, 117);
  font-size: 25px;
  font-weight: bold;
  line-height: normal;
  padding: 10px 0;
}
.price-table-main .price-table-items.price {
  background: none repeat scroll 0 0 rgb(82, 212, 146);
  font-size: 23px;
  font-weight: bold;
  line-height: normal;
  padding: 10px 0;
}
.price-table-main .price-table-items.price span{

  font-size: 12px;
  line-height: normal;

}



.price-table-main .price-table-items.col-img {
  background: none repeat scroll 0 0 rgb(82, 212, 146);
  height: 150px;
  overflow: hidden;
  padding: 10px 0;
}

.price-table-main .price-table-items.col-img img {
  border-radius: 0;
  box-shadow: none;
}

.price-table-main .price-table-items.signup {
  background: none repeat scroll 0 0 rgb(82, 212, 146);
  font-weight: bold;
  padding: 10px 0;
}

.price-table-main .price-table-items .signup-url {
  font-size: 17px;
  line-height: normal;
  text-decoration: none;
}

.price-table-main .price-table-items.data {
  font-size: 13px;
  line-height: normal;
  padding: 8px 0;
}
.price-table-main .price-table-items.data .data-empty {
  background: url("images/cross.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 20px;
  width: 16px;
}

.price-table-main .price-table-items.data:nth-child(2n) {
  background: none repeat scroll 0 0 rgb(217, 219, 219);
}
.price-table-main .price-table-items.data:nth-child(2n+1) {
  background: none repeat scroll 0 0 rgb(232, 233, 233);
}
















